body {
  margin: 0;
  background: #2a72be; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #2f6db3,
    #2673c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}